.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-top: 20px;

  .copyright {
    &, a {
      color: #fff;
    }

    a {
      text-decoration: none;
      border-bottom: 1px solid rgba(#fff, 0.25);

      &:hover {
        border-bottom-color: #fff;
      }
    }
  }
}
