rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /lists/{list} {
      allow create: if request.auth.uid && request.auth.uid == request.resource.data.uid;
      allow read, write, delete: if request.auth.uid == resource.data.uid;
    }
  }
}
