<div *ngFor="let activity of activities" class="activity">
  <div class="text">
    <a href="/user/{{activity.profile.alias}}" *ngIf="showUser">
      {{ activity.profile.alias }}
    </a>

    <ng-container *ngIf="activity.action == 'add-game'">
      added {{ activity.game.name }}
    </ng-container>
    <ng-container *ngIf="activity.action == 'update-status'">
      changed status of {{ activity.game.name }} to <b>{{ activity.meta.status }}</b>
    </ng-container>
    <ng-container *ngIf="activity.action == 'log-time'">
      played {{ activity.game.name }} for <b>{{ activity.meta.seconds | secondsToTime}}</b>
    </ng-container>
  </div>

  <app-platform-badge [platform]="activity.game.platform"></app-platform-badge>

  <div class="time">
    {{ activity.createdAt | relativeTime}}
  </div>
</div>
