@use '~@angular/material/theming';
@use '../../theme' as theme;

.fill-remaining {
  flex: 1 1 auto;
}

.logo {
  font-family: "Bungee";
  color: #fff;
  text-decoration: none;
  text-shadow: 3px 5px 0 rgba(#000, 0.75);
}

.mat-toolbar {
  background: rgba(theme.$primary, 0.75) !important;
}
