<mat-toolbar color="primary">
  <span>
    <a routerLink="/" class="logo">Gamelist</a>
  </span>

  <span class="fill-remaining"></span>

  <ng-container *ngIf="auth.loggedIn">
    <a mat-button [routerLink]="['/user/' + (auth.profile$ | async).alias]" *ngIf="auth.profile$ | async">My Page</a>
    <a mat-button routerLink="/profile">Profile</a>
    <a mat-button routerLink="list">List</a>
  </ng-container>

  <button mat-flat-button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
  <button mat-flat-button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
</mat-toolbar>

