<h1>{{ game.name }}</h1>

<h2>Genres:</h2>
<ul>
  <li *ngFor="let genre of game.genres">{{ genre }}</li>
</ul>

<h2>Status:</h2>

<mat-form-field>
  <mat-select [formControl]="status">
    <mat-option *ngFor="let status of listService.statuses" [value]="status">
      {{ status | titlecase }}
    </mat-option>
  </mat-select>
</mat-form-field>

<h2>Log Time:</h2>

<div>{{ game.secondsPlayed }} seconds played</div>

<div>
  <button *ngIf="!playStartTime" mat-flat-button color="primary" (click)="startPlaying()">Start Playing</button>
  <button *ngIf="playStartTime" mat-flat-button color="primary" (click)="stopPlaying()">Stop Playing</button>
</div>
