<h1>{{ listGame.game.name }}</h1>

<h2>Genres:</h2>
<ul>
  <li *ngFor="let genre of listGame.game.genres">{{ genre }}</li>
</ul>

<h2>Status:</h2>

<mat-form-field>
  <mat-select [formControl]="status">
    <mat-option *ngFor="let status of listService.statuses" [value]="status">
      {{ status | titlecase }}
    </mat-option>
  </mat-select>
</mat-form-field>

<h2>Log Time:</h2>

<div>
  <app-time-played [listGame]="listGame"></app-time-played>
</div>

<h2>Actions:</h2>

<button mat-flat-button color="primary" (click)="remove()">Delete</button>
<button mat-flat-button color="primary" (click)="close()">Close</button>
