<div class="mobile-header">
  <h1>Filter Collection:</h1>

  <button mat-icon-button class="close-button" (click)="dismissBottomSheet()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="form">
  <mat-form-field color="accent" class="search-field">
    <input matInput formControlName="query" name="disable-autocomplete" placeholder="Search games..." autocomplete="new-password" autocorrect="false" spellcheck="false" autocapitalize="false">
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select formControlName="platform">
      <mat-option [value]="''">All Platforms</mat-option>
      <mat-option *ngFor="let platform of platforms" [value]="platform">
          {{ platform | platform: 'name' }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select formControlName="genre">
      <mat-option [value]="''">All Genres</mat-option>
      <mat-option *ngFor="let genre of genres" [value]="genre">
          {{ genre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select formControlName="status">
      <mat-option [value]="''">All Statuses</mat-option>
      <mat-option *ngFor="let status of listService.statuses" [value]="status">
          {{ status | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select formControlName="sort">
      <mat-option *ngFor="let sort of sortOptions" [value]="sort" [innerHtml]="sort.label">
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button *ngIf="!defaultValues" mat-button class="clear-filters-button" color="warn" (click)="reset()">
    <mat-icon>filter_list</mat-icon>
    <span>Clear Filters</span>
  </button>
</form>
