mat-form-field {
  & + mat-form-field,
  & + button {
    margin-left: 10px;
  }

  input {
    color: rgba(200, 200, 200, 0.87);
  }
}

form {
  display: flex;

  .search-field {
    flex: 1;
  }
}

.mobile-header {
  display: none;
}

::ng-deep {
  mat-bottom-sheet-container {
    max-width: 250px !important;

    app-game-filter {

      form {
        display: block !important;
      }

      mat-form-field  {
        width: 100%;
        margin-left: 0 !important;
      }
    }

    .clear-filters-button {
      display: none;
    }

    .mobile-header {
      display: block !important;
    }
  }

  .game-filter-backdrop {
    background-color: rgba(#000, 0.3);
  }
}
