<h1 mat-dialog-title>Add a Game</h1>

<mat-form-field color="accent">
  <input matInput [formControl]="query" placeholder="Search for a game..." autocomplete="false" autocorrect="false">
</mat-form-field>

<mat-dialog-content>
  <ul class="results">
    <li *ngFor="let result of results" (click)="add(result)">
      <img [src]="result.images.icon">
      <span>{{ result.name }}</span>
      <app-platform-badge [platform]="result.platform"></app-platform-badge>
    </li>
  </ul>
</mat-dialog-content>

<button mat-icon-button class="close-button" (click)="close()">
  <mat-icon>close</mat-icon>
</button>
