:host {
  display: block;
}

mat-form-field {
  display: block;
  width: 100%;
}

.results {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: background 0.15s;

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    position: relative;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
    }

    span {
      margin-right: 10px;
      flex: 1;
    }

    & + li {
      border-top: 1px solid rgba(#fff, 0.1);
    }

    &:hover {
      background: linear-gradient(-180deg, transparent 0%, rgba(#fff, 0.1) 100%);

      button {
        opacity: 1;
        transform: translate(0, 0);
      }

      app-platform-badge {
        visibility: hidden;
      }
    }

    button {
      position: absolute;
      top: 10px;
      right: 10px;
      opacity: 0;
      pointer-events: none;
      transform: translate(10px, 0);
      transition: all 0.15s;
    }
  }
}

.no-results {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 10px;
  }
}
