@use '../theme-constants' as theme;
@use '../utilities' as util;

::ng-deep {
  body {
    background: theme.$background;
  }

  .app-top {
    min-height: 100vh;
  }

  app-nav {
    display: block;
    position: relative;
    z-index: 1;
  }

  router-outlet {
    & + * {
      display: block;
      margin-top: -64px;
      position: relative;
      z-index: 0;
    }
  }

  mat-progress-spinner {
    &, svg {
      width: 50px !important;
      height: 50px !important;
    }
  }

  mat-dialog-container {
    width: 400px !important;
    position: relative;

    .close-button {
      position: absolute;
      right: 20px;
      top: 30px;
    }

    mat-dialog-content {
      @include util.custom-scrollbar();
    }
  }

  .cdk-overlay-dark-backdrop {
    background-color: rgba(#000, 0.75) !important;
  }

  mat-bottom-sheet-container {
    position: relative;
    border-top: 1px solid rgba(#fff, 0.2);

    .close-button {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }

  .no-results-message {
    text-align: center;
    color: #fff;

    mat-icon {
      transform: scale(2);
      margin: 50px 0 20px 0;
    }
  }
}
