<mat-progress-spinner mode="indeterminate" *ngIf="listService.loading"></mat-progress-spinner>

<section class="wrapper" *ngIf="!listService.loading">
  <div class="game-filter">
    <app-game-filter [listGames]="listService.list.games" (filterChanged)="updateFilter($event)"></app-game-filter>
  </div>

  <div class="mobile-filter-buttons">
    <button mat-stroked-button class="filter-button" color="accent" (click)="openFilterBottomSheet()">
      <mat-icon>filter_list</mat-icon>
      <span>Filter Collection</span>
    </button>

    <button *ngIf="!filter.default" mat-stroked-button class="clear-filters-button" color="warn" (click)="gameFilterComponent.reset()">
      <mat-icon>filter_list</mat-icon>
      <span>Clear Filters</span>
    </button>
  </div>

  <section fxLayout="row wrap" >
    <mat-card
      *ngFor="let listGame of (listService.list)?.games | filterGames: filter"
      (click)="showGame(listGame)"
      >
      <div class="background" [style.background-image]="'url()'" [lazyLoad]="listGame.game.images.original"></div>
      <mat-card-header>
        <img mat-card-avatar [lazyLoad]="listGame.game.images.icon">
        <mat-card-title>{{ listGame.game.name}}</mat-card-title>
        <mat-card-subtitle>
          <app-platform-badge [platform]="listGame.game.platform"></app-platform-badge>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="listGame.secondsPlayed > 0">
          Played for {{ listGame.secondsPlayed | secondsToTime }}
        </ng-container>
      </mat-card-content>
    </mat-card>
  </section>

  <div *ngIf="!((listService.list)?.games | filterGames: filter).length" class="no-results-message">
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
    <h2>No Results Found...</h2>
  </div>

  <button mat-fab aria-label="Search for a new game" class="add-button" (click)="addGame()">
    <mat-icon>add</mat-icon>
  </button>
</section>
