<ng-container *ngIf="!logging && !playing">
  <div class="buttons">
    <button *ngIf="!playing" mat-raised-button color="accent" (click)="startPlaying()">
      <mat-icon inline="true">play_arrow</mat-icon> Start Playing
    </button>
    <button *ngIf="!logging" mat-raised-button color="accent" (click)="startLogging()">
      <mat-icon inline="true">add_circle</mat-icon>
      Log Time
    </button>
  </div>
</ng-container>

<ng-container *ngIf="playing">
  <h2 class="playing-for">Playing for: {{ secondsPlayed || 0 | secondsToTime }}</h2>

  <div class="buttons">
    <button mat-flat-button color="accent" (click)="stopPlaying()">
      <mat-icon inline="true">stop</mat-icon>
      Stop Playing
    </button>
    <button mat-button color="secondary" (click)="cancelPlaying()">Cancel</button>
  </div>
</ng-container>

<ng-container *ngIf="logging" class="">
  <div class="time-fields">
    <mat-form-field color="accent">
      <mat-select [formControl]="hours">
        <mat-option *ngFor="let hourOption of hoursOptions" [value]="hourOption.value">
            {{ hourOption.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-select [formControl]="minutes">
        <mat-option *ngFor="let minuteOption of minutesOptions" [value]="minuteOption.value">
            {{ minuteOption.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-select [formControl]="seconds">
        <mat-option *ngFor="let secondOption of secondsOptions" [value]="secondOption.value">
            {{ secondOption.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="buttons">
    <button mat-raised-button color="accent" (click)="logTime()" [disabled]="!secondsToLog">Save</button>
    <button mat-button color="secondary" (click)="cancelLogging()">Cancel</button>
  </div>
</ng-container>
