<ng-container *ngIf="!logging && !playing">
  <button *ngIf="!playing" mat-flat-button color="primary" (click)="startPlaying()">Start Playing</button>
  <button *ngIf="!logging" mat-flat-button color="primary" (click)="startLogging()">Log Time</button>
</ng-container>

<ng-container *ngIf="playing">
  <button mat-flat-button color="primary" (click)="stopPlaying()">Stop Playing</button>
  <button mat-flat-button color="secondary" (click)="cancelPlaying()">Cancel</button>
  <h3>Playing for: {{ secondsPlayed }} seconds</h3>
</ng-container>

<div *ngIf="logging">
  <mat-form-field>
    <mat-select [formControl]="hours">
      <mat-option *ngFor="let hourOption of hoursOptions" [value]="hourOption.value">
          {{ hourOption.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [formControl]="minutes">
      <mat-option *ngFor="let minuteOption of minutesOptions" [value]="minuteOption.value">
          {{ minuteOption.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [formControl]="seconds">
      <mat-option *ngFor="let secondOption of secondsOptions" [value]="secondOption.value">
          {{ secondOption.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="logTime()">Save</button>
  <button mat-flat-button color="secondary" (click)="cancelLogging()">Cancel</button>
</div>
