<mat-progress-spinner mode="indeterminate" *ngIf="!list"></mat-progress-spinner>

<div class="wrapper" *ngIf="list">
  <h1>{{alias}}'s Collection</h1>

  <div class="game-filter">
    <app-game-filter [listGames]="list.games" (filterChanged)="updateFilter($event)"></app-game-filter>
  </div>

  <div class="mobile-filter-buttons">
    <button mat-stroked-button class="filter-button" color="accent" (click)="openFilterBottomSheet()">
      <mat-icon>filter_list</mat-icon>
      <span>Filter Collection</span>
    </button>

    <button *ngIf="!filter.default" mat-stroked-button class="clear-filters-button" color="warn" (click)="gameFilterComponent.reset()">
      <mat-icon>filter_list</mat-icon>
      <span>Clear Filters</span>
    </button>
  </div>

  <div *ngIf="!(list?.games | filterGames: filter).length; else elseShowResults" class="no-results-message">
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
    <h2>No Results Found...</h2>
  </div>

  <ng-template #elseShowResults>
    <section class="row results">
      <section class="col stats">
        <div class="stat">
          <mat-icon color="accent" inline="true">format_list_numbered</mat-icon>
          <div class="info">
            <h1>{{ (list.games | filterGames: filter).length }}</h1>
            <h2>Games</h2>
          </div>
        </div>

        <div class="stat">
          <mat-icon color="accent" inline="true">access_time</mat-icon>
          <div class="info">
            <h1>{{ (secondsPlayed / 60 / 60).toFixed(2) }}</h1>
            <h2>Hours Played</h2>
          </div>
        </div>

        <div class="stat" *ngIf="genreCount > 1">
          <mat-icon color="accent" inline="true">collections</mat-icon>
          <div class="info">
            <h1>{{ genreCount }}</h1>
            <h2>Genres</h2>
          </div>
        </div>

        <div class="stat" *ngIf="platformCount > 1">
          <mat-icon color="accent" inline="true">sports_esports</mat-icon>
          <div class="info">
            <h1>{{ platformCount }}</h1>
            <h2>Platforms</h2>
          </div>
        </div>

        <div class="stat">
          <mat-icon color="accent" inline="true">check_box</mat-icon>
          <div class="info">
            <h1>{{ finishedGamesCount }}</h1>
            <h2>Games Finished</h2>
          </div>
        </div>

        <div class="stat">
          <mat-icon color="accent" inline="true">indeterminate_check_box</mat-icon>
          <div class="info">
            <h1>{{ unplayedGamesCount }}</h1>
            <h2>Unplayed Games</h2>
          </div>
        </div>
      </section>

      <section class="col graphs">
        <mat-tab-group color="accent">
          <mat-tab label="Games">
            <section class="games" fxLayout="row wrap">
              <app-game-card *ngFor="let listGame of list.games | filterGames: filter" [listGame]="listGame"></app-game-card>
            </section>
          </mat-tab>

          <mat-tab label="Genres">
            <div class="chart-wrapper" style="display: block;">
              <mat-expansion-panel class="chart-legend">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Legend
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="legend-values">
                  <div *ngFor="let genre of genreLabels; let i = index" [style.backgroundImage]="chartColoredPatterns[i].dataUrl" [class]="(chartColors[i] | lightOrDark) ? 'dark' : 'light'">
                    {{ genre }}
                  </div>
                </div>
              </mat-expansion-panel>

              <canvas baseChart
                [datasets]="genreCounts"
                [labels]="genreLabels"
                chartType="doughnut"
                [options]="chartOptions"
                [colors]="chartColorsWrapped">
              </canvas>
            </div>
          </mat-tab>

          <mat-tab label="Platforms">
            <div class="chart-wrapper" style="display: block;">
              <mat-expansion-panel class="chart-legend">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Legend
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="legend-values">
                  <div *ngFor="let platform of platformLabels; let i = index" [style.backgroundImage]="chartColoredPatterns[i].dataUrl" [class]="(chartColors[i] | lightOrDark) ? 'dark' : 'light'">
                    {{ platform }}
                  </div>
                </div>
              </mat-expansion-panel>

              <canvas baseChart
                [datasets]="platformCounts"
                [labels]="platformLabels"
                chartType="doughnut"
                [options]="chartOptions"
                [colors]="chartColorsWrapped">
              </canvas>
            </div>
          </mat-tab>
        </mat-tab-group>
      </section>
    </section>
  </ng-template>

  <h1>{{alias}}'s Latest Activity</h1>

  <section class="activities">
    <app-activity-list [activities]="activities"></app-activity-list>
  </section>
</div>
