@use '../../theme-constants' as theme;

section.profile {
  width: 400px;
  max-width: 100%;
  margin: 100px auto 20px auto;
  border: 1px solid theme.$primary;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;

  mat-form-field {
    margin-bottom: 10px;

    input {
      color: rgba(200, 200, 200, 0.87);
    }
  }
}
