@import '~@angular/material/theming';
@import './theme-constants';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$primary-palette: mat-palette($gamera);
$accent-palette:  mat-palette($gamera-accent, A200, A100, A400);
$warn-palette: mat-palette($gamera-warn);
$theme: (
  primary: $primary-palette,
  accent: $accent-palette,
  warn: $warn-palette,
  is-dark: true,
  foreground: $gamera-foreground,
  background: $gamera-background
);

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);

