$gamera: (
  50: #e2e9ed,
  100: #b6c8d3,
  200: #85a4b5,
  300: #547f97,
  400: #306381,
  500: #0b486b,
  600: #0a4163,
  700: #083858,
  800: #06304e,
  900: #03213c,
  A100: #72b2ff,
  A200: #3f96ff,
  A400: #0c7aff,
  A700: #006ef1,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$gamera-accent: (
  50: #eff7f3,
  100: #d7ebe1,
  200: #bcdecd,
  300: #a1d1b8,
  400: #8dc7a9,
  500: #79bd9a,
  600: #71b792,
  700: #66ae88,
  800: #5ca67e,
  900: #49986c,
  A100: #f4fff9,
  A200: #c1ffdc,
  A400: #8effbf,
  A700: #74ffb1,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$gamera-warn: (
  50: #f9e0e0,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$gamera-background: (
  50: #E3E4E5,
  100: #BABBBD,
  200: #8C8E91,
  300: #5D6065,
  400: #3B3E44,
  500: #181C23,
  600: #15191F,
  700: #11141A,
  800: #0E1115,
  900: #08090C,
  A100: #08090C,
  A200: #08090C,
  A400: #08090C,
  A700: #08090C,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$gamera-foreground: (
  base:              #fff,
  divider:           rgba(#fff, 0.2),
  dividers:          rgba(#fff, 0.2),
  disabled:          rgba(200, 200, 200, 0.38),
  disabled-button:   rgba(200, 200, 200, 0.38),
  disabled-text:     rgba(200, 200, 200, 0.38),
  hint-text:         rgba(200, 200, 200, 0.38),
  secondary-text:    rgba(200, 200, 200, 0.54),
  icon:              rgba(200, 200, 200, 0.54),
  icons:             rgba(200, 200 , 200, 0.54),
  text:              rgba(200, 200, 200, 0.87),
  slider-min:        rgba(200, 200, 200, 0.87),
  slider-off:        rgba(200, 200, 200, 0.26),
  slider-off-active: rgba(200, 200, 200, 0.38),
);

$gamera-background: (
  status-bar: #ff00ff,
  app-bar:    #00ff00,
  background: #181C23,
  hover:      rgba(200, 200, 200, 0.04),
  card:       #000,
  dialog:     #181C23,
  disabled-button: #000,
  raised-button: white,
  focused-button: #000,
  selected-button: #000,
  selected-disabled-button: #000,
  disabled-button-toggle: #000,
  unselected-chip: #000,
);

$background: #181C23;
$primary: map-get($gamera, 500);
$accent: map-get($gamera-accent, 500);
