@import '~@angular/material/theming';
@import './theme-constants';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$primary-palette: mat-palette($gamera);
$accent-palette:  mat-palette($gamera-accent, A200, A100, A400);
$theme: mat-dark-theme($primary-palette, $accent-palette);
$primary: mat-color($primary-palette);
$accent: mat-color($accent-palette);

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);

