  <section class="banner">
    <div class="banner-content">
      <div class="icons">
        <img src="assets/images/banner-icon-1.svg">
        <img src="assets/images/banner-icon-2.svg">
        <img src="assets/images/banner-icon-3.svg">
        <img src="assets/images/banner-icon-4.svg">
      </div>
      <h1>Tame your game collection!</h1>
      <h2>Keep track of your games and the time you spend playing.</h2>
      <ng-container *ngIf="auth.loggedIn !== null">
        <button *ngIf="!auth.loggedIn" mat-flat-button color="accent" (click)="auth.login()" >Sign Up Now</button>
        <a *ngIf="auth.loggedIn" mat-flat-button color="accent" href="/list" >See Your Collection</a>
      </ng-container>

    </div>
  </section>

  <section class="cols">
    <div class="popular-games">
      <h1 class="section-header">Top <span>Games</span></h1>
      <mat-progress-spinner mode="indeterminate" *ngIf="!popularListGames"></mat-progress-spinner>
      <div *ngFor="let popularListGame of popularListGames; let i = index" class="popular-game" [style.background-image]="'url(' + popularListGame.game.images.thumbnail +  ')'">
        <b>{{ i + 1 }}</b>
        <div class="label">
          {{ popularListGame.game.name }}
          <span>/ in {{ popularListGame.count }} collection{{ popularListGame.count > 1 ? 's' : ''}}</span>
        </div>
      </div>
    </div>

    <div>
      <h1 class="section-header">Latest <span>Activity</span></h1>
      <mat-progress-spinner mode="indeterminate" *ngIf="!activities"></mat-progress-spinner>
      <app-activity-list [activities]="activities" showUser="true"></app-activity-list>
    </div>
  </section>


