@use '../../theme-constants' as theme;
@use '../../utilities' as util;

.banner {
  background: linear-gradient(180deg, rgba(theme.$primary, 0.3) 0%, transparent 100%);

  .banner-content {
    display: flex;
    min-height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 75px 20px 20px 20px;
    text-align: center;
    width: 560px;
    max-width: 100%;
    margin: 0 auto;

    h1 {
      font-size: 32px;
      text-transform: uppercase;
      font-weight: 900;
      text-shadow: 0 3px 0 #000;
      letter-spacing: 1px;
      animation: banner-fade-in 0.5s 1s linear forwards;
      opacity: 0;
      margin-top: 20px;
    }

    h2 {
      font-size: 18px;
      line-height: 20px;
      font-weight: 400;
      color: rgba(#fff, 0.7);
      letter-spacing: 0.5px;
      animation: banner-fade-in 0.5s 1.1s linear forwards;
      opacity: 0;
    }

    [mat-flat-button] {
      box-shadow: 0 0 15px rgba(theme.$accent, 0.3);
      opacity: 0;
      animation: banner-fade-in 0.5s 0.5s linear forwards;
      margin-top: 10px;
      display: block;
      width: 100%;
    }

    .icons {
      display: flex;
      width: 500px;
      max-width: 100%;

      img {
        width: 25%;
        opacity: 0;
        animation: banner-icon-pop 0.5s ease-out forwards;

        &:nth-child(1) {
          animation-delay: 1s;
        }

        &:nth-child(2) {
          animation-delay: 1.1s;
        }

        &:nth-child(3) {
          animation-delay: 1.2s;
        }

        &:nth-child(4) {
          animation-delay: 1.3s;
        }
      }
    }
  }
}

@keyframes banner-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes banner-icon-pop {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.1) translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.popular-games {
  .popular-game {
    background: transparent center / cover no-repeat;
    position: relative;
    filter: grayscale(75%);
    padding: 5px 20px 5px 5px;
    color: rgba(#fff, 0.9);
    text-shadow: 0 0 2px rgba(#fff, 0.3);
    font-weight: 900;
    font-size: 15px;
    display: flex;
    align-items: center;

    & + .popular-game {
      margin-top: 1px;
    }

    span {
      font-weight: 200;
      color: rgba(#fff, 0.75);
    }

    b {
      font-size: 28px;
      opacity: 0.3;
      vertical-align: middle;
      padding-right: 10px;
      line-height: 30px;
      flex: 0 0 50px;
    text-align: right;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      left:0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(theme.$background, 0.8);
      z-index: -1;
    }

  }
}

.section-header {
  color: #fff;
  display: flex;
  white-space: nowrap;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;

  &:after {
    flex: 1 1 auto;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: map-get(theme.$gamera, A700);
    margin-left: 10px;
  }

  span {
    color: map-get(theme.$gamera, A700);
    display: inline-block;
    margin-left: 5px;
  }
}

.cols {
  display: flex;
  margin: 20px;

  > * {
    flex: 1;

    & + * {
      margin-left: 20px;
    }
  }

  mat-progress-spinner {
    margin: 20px auto;
  }
}

@media (max-width: 768px) {
  .banner {
    min-height: auto;

    .text {
      width: auto;
    }
  }

  .cols {
    display: block;

    > * {
      display: block;

      & + * {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  .banner {
    .banner-content {
      h1 {
        font-size: 24px;
      }
    }
  }
}
